<template>
    <require from="../../elements/fa-toggle"></require>
    <require from="../../attributes/toggle-me"></require>
    <div class="container" style="width: 90%;">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div style="display: inline-block;">
                            <h3 class="panel-title">Aurelia Functional Programming</h3>
                        </div>
                        <div style="display: inline-block; float: right;">
                            <fa-toggle event="toggleFunctionalPanel"></fa-toggle>
                        </div>
                    </div>
                    <div class="panel-body" toggle-me.two-way="toggle_visibility.fnc_panel">
                        <h4>Functional programming is fun, fast, and extremely testable!</h4>
						<p>Using functional programming you can make your applications faster, cleaner, easier to read, and less error-prone.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>